.filter-country {
  display: grid;
  gap: 0.5em;
}
.filter-country__title {
  font-size: 1em;
  text-align: center;
  font-weight: 500;
}
.filter-country__list {
  display: grid;
}
.filter-country__item {
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0.5em 0.5em;
  transition: transform 200ms ease;
}
.filter-country__item:hover {
  transform: scale(1.05);
  background-color: rgb(250, 64, 64,0.6);
  color: white;
  font-weight: 700;
}