.price {
  display: grid;
  gap: 0.5em;
  margin-bottom: 1.5em;
}
.price__title {
  font-size: 1em;
  text-align: center;
  font-weight: 500;
}
.price__label {
  display: block;
  padding-left: 1em;
  margin-bottom: 0.2em;
  font-size: 0.9em;
  font-weight: 300;
}
.price__input {
  display: block;
  border: 1px solid #aaa9;
  width: 100%;
  padding: 0.4em 0.8em;
}
.price__btn {
  margin-top: 1em;
  background-color: rgb(250, 64, 64);
  color: white;
  filter: brightness(0.9);
  border: none;
  padding: 0.5em;
}
.price__btn:hover {
  filter: brightness(1);
}